/* ----------------------------------------------------------------------------------
    GENERIC HTML STYLING
----------------------------------------------------------------------------------- */

body {

    padding:0;
    margin:0;
    background: #fff;
}

#main {
    padding:10px;
}

#main-header{
    text-align: right;
}

#app {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


/* ----------------------------------------------------------------------------------
    COLORS STYLING
----------------------------------------------------------------------------------- */

.primary_col {
    color:#00d6ac !important;
}

.primary_col_top_border {
    border-top: #00d6ac 4px solid !important;
}

.primary_col_bg {
    background-color:#00d6ac !important;
    color:#fff !important;
}

.primary_col_border {
    color:#00d6ac !important;
    border: #00d6ac 2px solid !important;
    background-color:#ffffff !important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.error_col_bg {
    background-color:#D6002A !important;
    color:#fff !important;
}

.error_col_border {
    color:#D6002A !important;
    border: #D6002A 2px solid !important;
    background-color:#ffffff !important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}



/* ----------------------------------------------------------------------------------
    NAVIGATION STYLING
----------------------------------------------------------------------------------- */
.pure-menu-horizontal {
    background: #373641;
    font-size: 100%;
    width: 100%;
    white-space: nowrap;
    text-align: right;
}

#menu-hor .pure-menu-link {
    padding: 10px 10px;
    color: #fff;
}

#menu-hor .pure-menu-link:hover {
    background-color: #222129;
}

#menuLink {
    margin-top: 4px
}

/* ----------------------------------------------------------------------------------
    BUTTON STYLING
----------------------------------------------------------------------------------- */
.pure-button {
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #373641;
    margin: .25em 0em .25em 0em;
}

.pure-button-hover, .pure-button:hover {
    background-image: "";
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-float-left {
    margin-right: 4px;
    float: left;
}

.button-float-right {
    margin-left: 4px;
    float: right;
}

@media screen and (max-width: 1280px) {
    div.td-buttons {
        text-align: center !important;
        margin: -.25em 0em;
    }

    div.td-buttons > .pure-button {
        display: block !important;
    }
    .button-float-left {
        margin-right: 0px !important;
        float: none !important;
    }

    .button-float-right {
        margin-left: 0px !important;
        float: none !important;
    }
}

    

/* ----------------------------------------------------------------------------------
    JOB TABLE STYLING
----------------------------------------------------------------------------------- */
.main-table, .vuetable{
    width: 100%;
    font-size: 85%;
}

.pure-table-odd td, .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f7f7f7;
}

div.td-buttons {
    text-align: right;
    margin: -.25em -.5em;
}

/* ----------------------------------------------------------------------------------
    JOB FORM STYLING
----------------------------------------------------------------------------------- */
form.brutusin-form td.prop-name {
    text-align: left;
}

form.brutusin-form td {
    vertical-align: middle;
}

td.form_title_input {
    padding-top: 20px !important;
    visibility: hidden;
}

td.form_title_label {
    padding-top: 25px !important;
    position: absolute;
    font-size: 22px !important;
    font-weight: bold;
    text-align: left;
}

tr.pure-control-group {
    white-space: nowrap;
    max-width: 100%;
}

textarea.code_text_area {
    font-family: "Consolas","Courier New", Courier, monospace
}

textarea.code_text_area::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
textarea.code_text_area:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     #fff;
   opacity:  1;
}
textarea.code_text_area::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
textarea.code_text_area:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
textarea.code_text_area::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

p.job-submit {
    text-align: right;
}

span.legend_description {
    color: #afafaf;
    font-size: 85%;
}

/* ----------------------------------------------------------------------------------
    DROPZONE STYLING
----------------------------------------------------------------------------------- */

#job-form-upload {
    background: rgb(249, 249, 249);
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 4px;
    background: #DFDFDF;
}

.dz-success .dz-image   {
    background-color:#00d6ac !important;
    color:#fff !important;
}

.dz-success .dz-details {
    color:#fff !important;
}

.dz-success .dz-details .dz-filename:hover span {
    border-radius: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background: none;
    padding: 0 0.4em;
    border-radius: 0px;
}

/* ----------------------------------------------------------------------------------
    MODAL Styling

    Adapted from: https://vuejs.org/v2/examples/modal.html
----------------------------------------------------------------------------------- */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .modal-container {
    display: inline-block;
    width: auto;
    margin: 0px auto;
    
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #000;
  }
  
  .modal-body {
    margin: 20px 0px 0px 0px;
  }

  .modal-footer {
      padding-top: 15px;
      text-align: right;
  }
    
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


/* ----------------------------------------------------------------------------------
    JOB LAUNCH MODAL
----------------------------------------------------------------------------------- */

.flatpickr-calendar.inline {
   margin-left: auto;
   margin-right: auto;
   margin-top: 8px;
}

pure-form job-launch-modal {
    text-align: center;
}

#jobLaunchDatetimePicker {
    width: 100%;
    background-color: #eee;
    color: #777;
    border-color: #ccc;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}



/* ----------------------------------------------------------------------------------
    MOBILE BROWSER STYLES

    Adapted from: https://stackoverflow.com/questions/3514784/what-is-the-best-way-to-detect-a-mobile-device-in-jquery
----------------------------------------------------------------------------------- */
@media only screen and (max-width: 500px) {
    td.prop-name {
        max-width: 200px;
        white-space: nowrap;
        overflow: scroll;
        text-overflow: ellipsis;
    }

    td.form_title_label {
        max-width: 100%;
        overflow: scroll;
    }
  }

/* -----------------------------------------------------------------------------------------------------
    FADE IN ELEMENT

    Adapted from: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load
-------------------------------------------------------------------------------------------------------- */
.fadein {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}